/*----Main Header/Nav----*/

#main_header{
}

#main_header ul{
	text-align: right;
}

#main_header li{
	display: inline;
}


#nav_list{
}

#nav_list li{
	display: inline;
}

#main_header_nav{
}

/*---article one----*/

#article_one_image{
	float: left;
}

#article_one h2{
	float: left;
}

#article_one aside{
	float: right;
}


/*----article two----*/

#article_two_image{
	float: left;
}

#article_two h2{
	float: left;
}

#article_two aside{
	float: right;
}


/*---article three---*/

#article_three_image{
	float: left;
}

#article_three h2{
	float: left;
}

#article_three aside{
	float: right;
}


/*---article four---*/

#article_four_image{
	float: left;
}

#article_four h2{
	float: left;
}

#article_four aside{
	float: right;
}

/*---article five---*/

#article_five_image{
	float: left;
}

#article_five h2{
	float: left;
}

#article_five aside{
	float: right;
}