/*------Site-Wide Styles-----*/
body{
	background: url(../Images/Sitewide/site_bg.jpg);
	max-width: 100%;
	margin: 0 auto;
}

.container{
	background-color: white;
}


h2{
	font-family: 'Exo', sans-serif;
	font-weight: 700;
	font-size: 1.4em;
}

h3, p{
	font-family: 'Exo', sans-serif;
	font-weight: 400;
	font-size: .875em;
}

p a{
	text-decoration: none;
}

p a:hover{
	text-decoration: underline;
}

aside a{
	text-decoration: none;
	color: rgba(225, 0, 0, .9)
}

aside a:hover{
	text-decoration: underline;
	color: red
}

.games_header{
	background: url(../Images/Sitewide/table_bg.jpg);
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.games_row{
	background: url(../Images/Sitewide/table_row_bg.png);
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.release_header{
	text-align: right;
}

.release_date{
	text-align: center;
}


/*----Main Header/Nav----*/

#main_header{
	background: url(../Images/Sitewide/header_bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 66px;
	margin: 0 auto;
	overflow: hidden;
}

#main_header img{
	margin-top: -24px;
}

#escape_hatch{
	float: left;
	margin-left: 0px;
	border-style: none;
	border-width: 0px;
	
}


#main_header ul{
	overflow: hidden;
	height: 58px;
	width: 62.65%;
	margin-top: 0px;
	float: right;
}

#main_header li{
	float: right;
	background: -moz-linear-gradient(top,  rgba(165,165,165,1) 0%, rgba(0,0,0,0.75) 68%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(165,165,165,1)), color-stop(68%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
	width: 15%; 
	height: 100%;
	font-family: "Helvetica";
	list-style-type: none;
}

.login_sign_up{
	height: 100%;
	width: 100%;
	padding-top: 13px;
	color: white;
	display: block;
	border-left: solid;
	border-width: 1px;
	border-color: grey;
	text-decoration: none;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	background-color: rgba(0, 0, 0, .5);
}

.login_sign_up:hover{
	color: white;
	background-color: rgba(0, 0, 0, .5);
}


.login_sign_up:active{
	color: white;
	background-color: rgba(0, 0, 0, .25);
}



#nav_list{
	width: 123.9%;
	height: 25px;
	background-color: rgba(0, 0, 0, .90);
	border-top: solid;
	border-bottom: solid;
	border-width: 1px;
	color: grey;
	padding: 0%;
	margin-top: -1%;
	margin-left: -1.58%;
	clear: both;
	overflow: hidden;
}

#nav_list .current{
	color: red;
}

#nav_list li{
	float: left;
	padding-left: 8.5%;
	list-style-type: none;
	font-family: "Helvetica";
	font-size: 1.25em;
	
}

#nav_list a{
	text-decoration: none;
	color: grey;
}


#nav_list a:hover{
	color: white;
}



/*---main content----*/


#main_header_content{
	width: 98%;
	height: 335px;
	margin-top: -14px;
	margin-left: 1%;
	background-color: black;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
}

#main_img{
	float: left;
	margin-left: .05%;
	margin-right: 1%;
}

#main_header_content h1{
	width: 140%;
	margin-top: 10px;
	font-size: 2em;
	font-family: Exo;
	color: white;
}

#main_header_content p{
	text-align: left;
	width: 140%;
	font-size: .875em;
	font-family: Exo;
	color: white;
}

#main_header_content aside{
	text-align: right;
	font-family: 'Exo', sans-serif;
	font-weight: 700;
	width: 135%;
}

#main_header_content h3{
	color: white;
	font-family: Exo;
	text-decoration: underline;
	font-size: .8em;
}




#main_header_content li{
	color: white;
	list-style-type: none;
	margin-top: -13px;
	margin-bottom: 16px;
	margin-left: -20%;
	font-family: 'Exo', sans-serif;
	font-weight: 400;
	font-size: .7em;
}


#main_header_content li a{
	text-decoration: none;
	color: grey;
}

#main_header_content li a:hover{
	text-decoration: underline;
	color: white;
}

#main_header_content li a:active{
	color: red;
}
/*---------ARTICLE ONE CONTENT START-----------*/

#article_one{
	clear: both;
	overflow: hidden;
	width: 65%;
	margin-top: 15px;
	margin-left: 1%;
	border-top: solid;
	border-width: 1px;
}

#article_one_image{
	float: left;
	margin: 30px 1% -10px .1%;
}

#article_one h2{
	float: right;
	width: 60%;
	margin-top: -80px;
	margin-right: 10%;
}

#article_one p{
	float: right;
	width: 60%;
	margin-top: -20px;
	margin-right: 10%;
}


#side_content_one{
	float: right;
	width: 50%;
	text-align: left;
	margin-top: -140px;
}

#side_content_one table{
	float: right;
	width: 60%;
}



/*---------ARTICLE ONE CONTENT END-----------*/

/*---------ARTICLE TWO CONTENT START-----------*/

#article_two{
	clear: both;
	overflow: hidden;
	width: 65%;
	margin-top: 15px;
	margin-left: 1%;
	border-top: solid;
	border-width: 1px;
}

#article_two_image{
	float: left;
	margin: 30px 1% -10px .1%;
}

#article_two h2{
	float: right;
	width: 60%;
	margin-top: -80px;
	margin-right: 10%;
}

#article_two p{
	float: right;
	width: 60%;
	margin-top: -20px;
	margin-right: 10%;
}


#side_content_two{
	float: right;
	width: 50%;
	text-align: left;
	margin-top: -140px;
	margin-right: 4.7%;
}

#side_content_two img{
	float: right;
}
	


/*---------ARTICLE TWO CONTENT END-----------*/


/*---------ARTICLE THREE CONTENT START-----------*/



#article_three{
	clear: both;
	overflow: hidden;
	width: 65%;
	margin-top: 15px;
	margin-left: 1%;
	border-top: solid;
	border-width: 1px;
}

#article_three_image{
	float: left;
	margin: 30px 1% -10px .1%;
}

#article_three h2{
	float: right;
	width: 60%;
	margin-top: -80px;
	margin-right: 10%;
}

#article_three p{
	float: right;
	width: 60%;
	margin-top: -20px;
	margin-right: 10%;
}


#side_content_three{
	float: right;
	width: 50%;
	text-align: left;
	margin-top: -140px;
}

#side_content_three table{
	float: right;
	width: 60%;
}

/*---------ARTICLE FOUR CONTENT START-----------*/


#article_four{
	clear: both;
	overflow: hidden;
	width: 65%;
	margin-top: 15px;
	margin-left: 1%;
	border-top: solid;
	border-width: 1px;
}

#article_four_image{
	float: left;
	margin: 30px 1% -10px .1%;
}

#article_four h2{
	float: right;
	width: 60%;
	margin-top: -80px;
	margin-right: 10%;
}

#article_four p{
	float: right;
	width: 60%;
	margin-top: -20px;
	margin-right: 10%;
}


#side_content_four{
	float: right;
	width: 50%;
	text-align: center;
	margin-top: -70px;
	margin-right: -7%;
}


/*---------ARTICLE FOUR CONTENT END-----------*/

/*---------ARTICLE FIVE CONTENT START-----------*/


#article_five{
	clear: both;
	overflow: hidden;
	width: 65%;
	margin-top: 15px;
	margin-left: 1%;
	border-top: solid;
	border-width: 1px;
}

#article_five_image{
	float: left;
	margin: 30px 1% -10px .1%;
}

#article_five h2{
	float: right;
	width: 60%;
	margin-top: -80px;
	margin-right: 10%;
}

#article_five p{
	float: right;
	width: 60%;
	margin-top: -20px;
	margin-right: 10%;
}


#side_content_five{
	float: right;
	width: 50%;
	text-align: center;
	margin-top: -70px;
	margin-right: -7%;
}


/*---------ARTICLE FIVE CONTENT END-----------*/

/*---------MORE NEWS START-----------*/


#read_more{
	background-color: rgba(160, 0, 27, 1);
	width: 98%;
	height: 30px;
	margin-top: 5px;
	margin-left: 1%;
	margin-bottom: 5px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1em;
	color: white;
}

#read_more:active{
	background-color: rgba(160, 0, 27, .90);
}


/*---------MORE NEWS END-----------*/


/*---------FOOTER START------------*/


#footer_div{
	width: 102.7%;
	height: 52px;
	margin-left: -1.3%;
	background: url(../Images/Sitewide/footer_bg.jpg);
	text-align: right;
	color: white;
	font-family: Helvetica;
	font-size: .8em;
	overflow: hidden;
}

#footer_div img{
	float: left;
	margin: -5px 0px 0px -8.70%;
	overflow: hidden;
}

.social_pages{
	float: left;
	margin: 35px 3% 0px -8%;
}

footer p{
	float: right;
	height: 52px;
	margin: 35px 5px 0px 0px;
	
}




/*--------------------------------------START OF MEDIA QUERIES--------------------------*/

/* Tablet portrait size to 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width: 960px) {





/*----Main Header/Nav----*/

#main_header img{
	margin-top: -10px;
}

#main_header ul{
	width: 61.46%;
}

#nav_list{
	margin-top: -10px;
	width: 123.5%;
}

#nav_list li{
	padding-left: 7%;
}


/*----Main Content/CTA----*/

#main_header_content{
	width: 98%;
	height: 278px;
	margin-top: -14px;
	margin-left: 1%;
	background-color: black;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
}

#main_img{
	margin-right: 0%;
}

#main_header_content h1{
	font-size: 1.5em;
	margin-top: 5px;
}

#main_header_content p{
	font-size: .875em;
	margin-top: -10px;

}

#main_header_content aside{
	font-size: 1em;
	margin-top: -15px;
}

#main_header_content h3{
	font-size: .800em;
	margin-top: 5px;
}

/*----Article One----*/


#article_one{
	width: 65%;
}

#article_one h2{
	font-size: 1em;
}

#article_one a{
}


#side_content_one{
	width: 50%;
	font-size: .8em;
}



/*----Article Two----*/


#article_two{
	width: 65%;
}

#article_two h2{
	font-size: 1em;
}

#article_two a{
}



#side_content_two{
	width: 70%;
	margin-right: 1%;
}


/*----Article Three----*/


#article_three{
	width: 65%;
}

#article_three h2{
	font-size: 1em;
}



#side_content_three{
	width: 50%;
	font-size: .8em;
}

/*----Article Four----*/


#article_four{
	width: 65%;
}

#article_four h2{
	font-size: 1em;
}


#side_content_four{
	width: 39%;
	margin-right: 0%;
}

/*----Article Five----*/


#article_five{
	width: 65%;
}

#article_five h2{
	font-size: 1em;
}

#side_content_five{
	width: 39%;
	margin-right: 0%;
}

/*----Footer Content----*/

#footer_div{
	width: 102.3%;
	height: 52px;
	margin-left: -1.1%;
	background: url(../Images/Sitewide/footer_bg.jpg);
	text-align: right;
	color: white;
	font-family: Helvetica;
	font-size: .8em;
	overflow: hidden;
}

#footer_div img{
	float: left;
	margin: -5px 0px 0px -10%;
	overflow: hidden;
}

.social_pages{
	float: left;
	margin: 35px 3% 0px -10%;
}

footer p{
	float: right;
	height: 52px;
	margin: 35px 5px 0px 0px;
}

}

/*--------------------------------------START OF MEDIA QUERY 2--------------------------*/


/* Mobile Landscape size to Tablet portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {


.container{
	height: 1550px;
}

/*----Main Header/Nav----*/

#main_header{
	width: 100%;
	height: 105px;
}

#main_header img{
	margin-top: -17px;
	margin-left: 16%;
	width: 60%;
	float: none;
}

#main_header ul{
	width: 105%;
	height: 47px;
	float: none;
	border-top: solid;
	border-width: 1px;
	border-color: grey;
	margin-top: -20px;
	margin-left: -4.6%;
}

#main_header li{
	width: 50%;
}

#nav_list{
	margin-top: -7px;
	margin-left: -5%;
	width: 115%;
}

#nav_list li{
	padding-left: 5%;
	margin-top: 3px;
	font-size: .875em;
}


/*----Main Content/CTA----*/

#main_header_content{
	float: none;
	width: 90%;
	height: 380px;
	margin-top: -14px;
	margin-left: .4%;
	background-color: black;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
}

#main_img{
	float: none;
	margin-left: .1%;
}

#main_header_content h1{
	float: none;
	font-size: 1.7em;
	margin-top: 15px;
}

#main_header_content p{
	float: none;
	width: 90%;
	font-size: 1em;
	margin-top: -10px;

}

#main_header_content aside{
	float: none;
	font-size: 1em;
	margin-top: -15px;
	margin-left: -45%;
}

#main_header_content h3{
	display: none;
}

#main_header_content ul{
	display: none;
}

/*----Article One----*/


#article_one{
	width: 89.2%;
}

#article_one img{
	width: 45%;
	margin-left: -3%;
}

#article_one h2{
	font-size: .950em;
	margin-right: -3%;
	margin-top: -110px;
}

#article_one p{
	font-size: .800em;
	margin-right: -3%;
	margin-top: -60px;
}

#article_one a{
}


#side_content_one{
	display: none;
}



/*----Article Two----*/

#article_two{
	width: 89.2%;
}

#article_two img{
	width: 45%;
	margin-left: -3%;
}

#article_two h2{
	font-size: .950em;
	margin-right: -3%;
	margin-top: -110px;
}

#article_two p{
	font-size: .800em;
	margin-right: -3%;
	margin-top: -60px;
}

#article_two a{
}


#side_content_two{
	display: none;
}



/*----Article Three----*/


#article_three{
	width: 89.2%;
}

#article_three img{
	width: 45%;
	margin-left: -3%;
}

#article_three h2{
	font-size: .950em;
	margin-right: -3%;
	margin-top: -110px;
}

#article_three p{
	font-size: .800em;
	margin-right: -3%;
	margin-top: -60px;
}

#article_three a{
}


#side_content_three{
	display: none;
}

/*----Article Four----*/


#article_four{
	width: 89.2%;
}

#article_four img{
	width: 45%;
	margin-left: -3%;
}

#article_four h2{
	font-size: .950em;
	margin-right: -3%;
	margin-top: -110px;
}

#article_four p{
	font-size: .800em;
	margin-right: -3%;
	margin-top: -60px;
}

#article_four a{
}


#side_content_four{
	display: none;
}
/*----Article Five----*/


#article_five{
	width: 89.2%;
}

#article_five img{
	width: 45%;
	margin-left: -3%;
}

#article_five h2{
	font-size: .950em;
	margin-right: -3%;
	margin-top: -110px;
}

#article_five p{
	font-size: .800em;
	margin-right: -3%;
	margin-top: -60px;
}

#article_five a{
}


#side_content_five{
	display: none;
}

/*----Footer Content----*/

#footer_div{
	width: 109.8%;
	height: 55px;
	margin-left: -4.7%;
	background: url(../Images/Sitewide/footer_bg.jpg);
	text-align: right;
	color: white;
	font-family: Helvetica;
	font-size: .8em;
	overflow: hidden;
}

#footer_div img{
	display: none;
}

.social_pages{
	display: none;
}

footer p{
	float: none;
	width: 100%;
	font-size: 1.1em;
	height: 55px;
	margin: 30px 0% 0px -5.5%;
}




}





/*--------------------------------------START OF MEDIA QUERY 3--------------------------*/



/* Mobile Portrait size to Mobile Landscape size (devices and browsers) */
@media only screen and (max-width: 479px) {



/*----Main Header/Nav----*/

#main_header{
	width: 99%;
	height: 105px;
}

#main_header img{
	margin-top: -20px;
	margin-left: -2%;
	width: 90%;
	float: none;
}

#main_header ul{
	width: 101.5%;
	float: none;
	border-top: solid;
	border-width: 1px;
	border-color: grey;
	margin-top: -15px;
	margin-left: -7%;
}

#main_header li{
	width: 49.32%;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	margin-top: -5px;
}

#nav_list{
	margin-top: -7px;
	margin-left: -8%;
	width: 116%;
	height: 315px;
}

#nav_list li{
	width: 89%;
	margin-top: 5px;
	margin-left: 1%;
	font-size: 2em;
	float: none;
	border-style: solid;
	border-width: 1px;
	background-color: black;
}

#nav_list a{
	height: 100%;
	width: 100%;
	display: block;
}

#nav_list a:link{
	color: grey;
}

/*----Main Content/CTA----*/


#main_header_content{
	width: 84.5%;
	height: 350px;
	background-color: black;
	border-style: none;
}

#main_img{
	float: none;
	width: 100%;
	margin-left: .5%;
	margin-top: 2px;
}

#main_header_content h1{
	float: none;
	width: 100%;
	font-size: 1.4em;
	margin-right: -19%;
	margin-top: 20px;
}

#main_header_content p{
	float: none;
	width: 100%;
	font-size: .9em;
	margin-right: -4%;
	margin-top: -10px;
}

#main_header_content aside{
	float: none;
	font-size: 1em;
	margin-top: -5px;
	margin-left: -45%;
}

#main_header_content h3{
	display: none;
}

#main_header_content ul{
	display: none;
}

/*----Article One----*/


#article_one{
	width: 84.5%;
	height: 360px;
}

#article_one img{
	float: none;
	width: 90%;
	margin-left: .5%;
	margin-top: 20px;
}

#article_one h2{
	float: none;
	width: 100%;
	font-size: 1.4em;
	margin-right: -19%;
	margin-top: 20px;
}

#article_one p{
	float: none;
	width: 100%;
	font-size: 1em;
	margin-right: -4%;
	margin-top: -10px;
}

#article_one a{
}


#side_content_one{
	display: none;
}



/*----Article Two----*/

#article_two{
	width: 84.5%;
	height: 360px;
}

#article_two img{
	float: none;
	width: 90%;
	margin-left: .5%;
	margin-top: 20px;
}

#article_two h2{
	float: none;
	width: 100%;
	font-size: 1.4em;
	margin-right: -19%;
	margin-top: 20px;
}

#article_two p{
	float: none;
	width: 100%;
	font-size: 1em;
	margin-right: -4%;
	margin-top: -10px;
}

#article_two a{
}


#side_content_two{
	display: none;
}



/*----Article Three----*/


#article_three{
	width: 84.5%;
	height: 360px;
}

#article_three img{
	float: none;
	width: 90%;
	margin-left: .5%;
	margin-top: 20px;
}

#article_three h2{
	float: none;
	width: 100%;
	font-size: 1.4em;
	margin-right: -19%;
	margin-top: 20px;
}

#article_three p{
	float: none;
	width: 100%;
	font-size: 1em;
	margin-right: -4%;
	margin-top: -10px;
}

#article_three a{
}


#side_content_three{
	display: none;
}

/*----Article Four----*/

#article_four{
	width: 84.5%;
	height: 360px;
}

#article_four img{
	float: none;
	width: 90%;
	margin-left: .5%;
	margin-top: 20px;
}

#article_four h2{
	float: none;
	width: 100%;
	font-size: 1.4em;
	margin-right: -19%;
	margin-top: 20px;
}

#article_four p{
	float: none;
	width: 100%;
	font-size: 1em;
	margin-right: -4%;
	margin-top: -10px;
}

#article_four a{
}


#side_content_four{
	display: none;
}
/*----Article Five----*/


#article_five{
	width: 84.5%;
	height: 360px;
}

#article_five img{
	float: none;
	width: 90%;
	margin-left: .5%;
	margin-top: 20px;
}

#article_five h2{
	float: none;
	width: 100%;
	font-size: 1.4em;
	margin-right: -19%;
	margin-top: 20px;
}

#article_five p{
	float: none;
	width: 100%;
	font-size: 1em;
	margin-right: -4%;
	margin-top: -10px;
}

#article_five a{
}


#side_content_five{
	display: none;
}

/*----Footer Content----*/

#footer_div{
	width: 115.2%;
	height: 40px;
	margin-left: -7.6%;
	margin-top: 10px;
	background: url(../Images/Sitewide/footer_bg.jpg);
	text-align: right;
	color: white;
	font-family: Helvetica;
	font-size: .8em;
	overflow: hidden;
}

#footer_div img{
	display: none;
}

.social_pages{
	display: none;
}

footer p{
	float: none;
	width: 100%;
	font-size: .743em;
	height: 52px;
	text-align: center;
	margin: 20px 0% 0px 0%;
}






}