body{
	width: 940px;
	margin: 0 auto;
	background-color: lightgray;
}


#bgdiv{
	margin-top: 5px;
	background-color: white;
	overflow: none;
	height: 1000px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
}

header {
	background-color: lightblue;
	height: 40px;
	width: 98%;
	margin: 0 auto;
	border-style: none;
	border-width: 1px;
	border-radius: 10px;
}

#siteintent{
	float: left;
	background-color: lightblue;
	width: 48.70%;
	margin: 5px 0px 5px 9px;
	border-style: none;
	border-width: 1px;
	border-radius: 10px;
}

#targetaudience{
	float: right;
	background-color: lightblue;
	width: 48.70%;
	height: 517px;
	margin: 5px 9px 5px 0px;
	border-style: none;
	border-width: 1px;
	border-radius: 10px;
}

#comptanalysis{
	clear: both;
	background-color: lightblue;
	width: 98%;
	margin: 0 auto;
	border-style: none;
	border-width: 1px;
	border-radius: 10px;
	overflow: hidden;
}



/*---------HEADER section----------*/

h1{
	text-align: center;
}

/*---------SITE INTENT section----------*/

#siteintent h2{
	margin-left: 10px;
	text-decoration: underline;
}

#siteintent p{
	margin-left: 10px;
	font-size: 15px;
}
/*---------TARGETED AUDIENCE section----------*/

#targetaudience h2{
	margin-left: 10px;
	text-decoration: underline;
}

#targetaudience h3{
	margin-left: 10px;
	margin-top: 45px;
	margin-bottom: -10px;
	text-decoration: underline;
}


#targetaudience p{
	margin-left: 10px;
	font-size: 15px;
}


/*---------COMPETITIVE ANALYSIS section----------*/


#comptanalysis h2{
	margin-left: 10px;
	text-decoration: underline;
	margin-top: 10px;
}

#comptanalysis h3{
	margin-left: 10px;
	margin-bottom: -10px;
	text-decoration: underline;
}

#comptanalysis aside{
	margin-left: 10px;
	font-style: italic;
	font-size: 16px;
}

#comptanalysis table{
	width: 98%;
	margin-left: 10px;
	border-style: solid;
	border-width: 1px;
}


#comptanalysis th{
	border-style: solid;
	border-width: 1px;
}

#comptanalysis td{
	border-style: solid;
	border-width: 1px;
	text-align: center;
}

#gamespotrow{
	background-color: rgba(0, 0, 0, .25);
}

#comptanalysis a{
	text-decoration: none;
}

#comptanalysis a:hover{
	color: red;
}

#comptanalysis a:active{
	color: grey;
}

#comptanalysis p{
	margin-left: 10px;
}


/*---------FOOTER section----------*/

footer{
	background-color: lightblue;
	height: 45px;
	width: 98%;
	margin-left: 10px;
	margin-top: 5px;
	border-style: none;
	border-width: 1px;
	border-radius: 10px;
	text-align: center;
	font-size: 18px;
}

footer aside{
	padding-top: 15px;
}

